#header{
    background: #ffffff;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 95px;
    margin-bottom: 30px;
    border-bottom: 2px solid #cccccc;
    
    
    

    
 }

h1{
    font-family: "Georgia", 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: white;
    width: 300px;
    height: 70px;
    position: absolute;
    left: 100px;
    text-align: center;
    padding-top: 25px;
    margin-top: 0;
    font-size: 28px;
    


  }

nav{
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    position: absolute;
    right: 360px;
    top: 40px;

}

a{
    text-decoration: none;
    color: #4aaaa5;
}

#About{
    float: left;
    position: absolute;
    right: 200px;

}

#Portfolio{
    float: left;
    position: absolute;
    right: 100px;
    

}
#Contact{
    float: left;
    position: absolute;
    right: 0px;
}

hr{
    margin-left: 35px;
    margin-right: 35px;
    color: #777777;
}


body{
    background: #efefef;

 }

#main{
    width: 950px;
    height: 1100px;
    background: white;
    margin-top: 30px;
    left: 90px;
    position: relative;
    top: 100px;

}

h2{
    font-family: "Georgia", 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 30px;
    padding: 5px 20px 5px 20px

}

#me{
    padding: 20px 20px 6px 35px;
}

#hangmantest{
    position: absolute;
    top: 120px;
    width: 400px;
    background: #4aaaa5;
    color: #ffffff;
     margin-left: 40px; 
    text-align: center;
    font-size: 40px;

}

#hangmantestt{
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 5px;



}

#second{
    position: relative;
    margin-left: 490px;
    margin-top: 9px;
    
}

#secondp{
    position: absolute;
    height: 70px;
    width: 400px;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
    top: 155px;
}

#third{
    position: relative;
    margin-left: 43px;
    margin-top: 75px;



}

#thirdt{
    text-align: center;
    margin-top: 0;
    color: #ffffff;
    background: #4aaaa5;
    width: 400px;
    font-size: 40px;
    height: 50px;

}

#fourth{
    margin-left: 45px;
    position: absolute;
    right: 58px;
    top: 420px;


}

#fourtht{
    text-align: center;
    width: 400px;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 40px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-top: 5px;
    height: 37px;


}

#fifth{
    margin-left: 45px;
    position: absolute;
    top: 705px;

}

#fiftht{
    text-align: center;
    width: 400px;
    background:#4aaaa5;
    color:#ffffff;
    font-size: 40px;
    margin-top: 0px;

}

#github{
     width: 10px;
     height: 100px;
     clear: both;
     float: left;
     position: absolute;
     left: 0px;

 }

 #linkedin{
     width: 100px;
     height: 100px;
     float: left;
     position: absolute;
     left: 100px;

 }

 #stackoverflow{
     width: 100px;
     height: 100px;
     float: left;
     position: absolute;
     left: 200px;
     bottom: 1px;
 }

 #pic{
    clear: both;
    float: left;
 }

p{
    text-align: left;
    
    
}

#connect{
    width: 295px;
    height: 200px;
    background: white;
    position: absolute;
    top: 130px;
    right: 100px;
}

#links{
    font-size: 25px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #666666;
    color: #efefef;
    text-align: center;
    height: 75px;
    left: 0px;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 10px;
}

#copy{
    font-size: 12px;
    margin-top: 15px;
    position: relative;
    top: 6px;
}