


#header{
    background: #ffffff;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 95px;
    margin-bottom: 30px;
    border-bottom: 2px solid #cccccc;
    
    
    
    

    
 }

h1{
    font-family: "Georgia", 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: white;
    width: 300px;
    height: 70px;
    position: fixed;
    left: 100px;
    text-align: center;
    padding-top: 25px;
    margin-top: 0;
    font-size: 28px;
    


  }

nav{
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    position: fixed;
    right: 360px;
    top: 40px;

}

hr{
    margin: 0px 35px 0px 35px;
    color: #cccccc;
}

a{
    text-decoration: none;
}
#About{
    float: left;
    position: absolute;
    right: 200px;
    color: #4aaaa5;

}

#Portfolio{
    float: left;
    position: absolute;
    right: 100px;
    color: #4aaaa5;
    

}
#Contact{
    float: left;
    position: absolute;
    right: 0px;
    color: #4aaaa5;
}


body{
    background: #efefef;

 }

#main{
    width: 650px;
    height: 478px;
    background: white;
    margin-top: 30px;
    left: 90px;
    position: relative;
    top: 100px;
    

}

h2{
    font-family: "Georgia", 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 30px;
    padding: 5px 20px 5px 20px;

}

#me{
    padding: 15px 35px 5px 35px;
}


#github{
     width: 10px;
     height: 100px;
     clear: both;
     float: left;
     position: absolute;
     left: 0px;

 }

 #linkedin{
     width: 100px;
     height: 100px;
     float: left;
     position: absolute;
     left: 100px;

 }

 #stackoverflow{
     width: 100px;
     height: 100px;
     float: left;
     position: absolute;
     left: 200px;
     bottom: 55px;
 }
 /*
 #pic{
    clear: both;
    float: left;
 }
*/
p{
    text-align: left;
    
    
}

#connect{
    width: 295px;
    height: 200px;
    background: white;
    position: absolute;
    top: 143px;
    right: 330px;
}

#links{
    font-size: 25px;
}

#name{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #8e9aaa;
    font-size: 18px;
    padding-left: 35px;
    
}

#email{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #8e9aaa;
    font-size: 18px;
    padding-left: 35px;
}

#message{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #8e9aaa;
    font-size: 18px;
    padding-left: 35px;
}

#submit{
    color: white;
    background: #4aaaa5;
    padding: 5px 15px 5px 15px;
    margin-left: 35px;
    position: absolute;
    bottom: 15px;
    


}

#nameb{
    width: 95%;
    height: 20px;
    margin-left: 5px;
}

#emailb{
    width: 95%;
    height: 20px;
    margin-left: 5px;
}

textarea{
    width: 590px;
    height: 100px;
    max-width: 590px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #666666;
    color: #efefef;
    text-align: center;
    height: 65px;
    left: 0px;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 10px;
    



}

#copy{
    font-size: 12px;
    margin-top: 15px;
    position: relative;
    top: 8px;
}